// Place all the styles related to the admin::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-edited {
  color: #808080;
  font-weight: 500;
}

.post-show-main-title-deleted {
  color: #808080;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}