// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// <-----------comment-new----------->
.no-comment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.comment-card {
  background: white;
  display: table;
  padding: 10px 10px 14px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #D3D3D3;
}

.comment-icon {
  display: table-cell;
  vertical-align: top;
  width: 40px;
}

.icon-image {
  background-image: image-url('takibi.jpeg');
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  // background-repeat: no-repeat;
  background-size: cover;
  // border: 2px #fff solid;
  // background-color: #eee;
}

.comment-user-profile {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-align: left;
}

.comment-user-profile p {
  font-size: 14px;
  font-weight: 700;
}

.comment-user-profile span {
  display: inline-block;
  margin-left: 15px;
  color: #888;
  font-size: 13px;
  font-weight: 400;
}

.comment-body {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3;
  color: #666;
  word-break: break-all;
  text-align: left;
}

.comment-delete {
  color: #999;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
  text-align: left;
}