// <-----------user-show----------->
.user-show-main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.user-show-header {
 width: 900px;
 height: 120px;
 text-align: center;
 margin-top: 40px;
 margin-left: auto;
 margin-right: auto;
 border-bottom: 3px solid #D3D3D3;
 padding: 0 50px;
}

.profile-image-box {
  width: 100px;
  height: 100px;
}

.profile-name-box {
  width: 400px;
  height: 120px;
  margin-left: 50px;
}

.profile-name {
  font-size: 20px;
  font-weight: 700;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kano Gothic ProN','ヒラギノ角ゴ ProN W3';
}

.profile-introduction {
  margin-top: 10px;
  height: auto;
}

.profile-place-box {
  width: 250px;
  height: 120px;
}

.user-show-buttons {
  margin-top: 10px;
}

.user-show-like-posts {
  margin-top: 10px;
}

.user-show-like-posts {
// margin-left: 30px;
width: auto;
}

.user-show-user-name {
 font-size: 30px;
 color: black;
}

.user-show-name {
 font-size: 30px;
 color: black;
 margin-left: 50px;
 padding-right: 10px;
}

.user-show-place-icon-image {
background-image: image-url('place.jpeg');
border-radius: 50%;
display: inline-block;
width: 15px;
height: 15px;
background-position: center center;
background-size: cover;
}



.follow-button {
  margin-left: 50px;
}

.follow-area ul {
  display: table;
  table-layout: fixed;
  margin: 20px auto;
  width: 100%;
}

.follow-area li {
  display: table-cell;
  padding-right: 0 10px;
}

.follow-area ul a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #999;
}

.follow-area ul a span {
  margin-top: 15px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  color: #333;
}


// <-----------follow-area----------->
.follow-area {
  height: auto;
  text-align: center;
}


// <-----------user-show-post-area----------->
.user-show-post-area {
  // margin-top: 50px;
  margin-bottom: 180px;
  background: #f7f7f7;
}

// <-----------user-like-post----------->

.inner {
  max-width: 1020px;
  margin: 0 auto;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
}

.post-area-title {
  width: 100%;
  // background-color: blue;
  padding: 20px;
  color: #333333;
  text-align: center;
}

.post-box {
  border: solid #CCCCCC 3px;
  position: relative;
  width: 306px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 10px;
}

.background-image {
  width: 100%;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  border-radius: 4px;
}

.background-image-deleted {
  // width: 100%;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  border-radius: 4px;
  width: 300px;
  height: 200px;
}

.post-date {
  box-sizing: border-box;
  // position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  color: #666;
  font-size: 13px;
  // text-shadow: 0 0 2px #666;
  font-weight: 700;
}

.main-title {
  background-color: #FFFFDD;
  padding: 14px 10px;
  font-weight: 700;
  line-height: 1.5;
}

.main-title-deleted {
  background-color: #FFFFDD;
  padding: 14px 10px;
  font-weight: 700;
  line-height: 1.5;
  color: #808080;
}

.main-title-deleted a {
  color: #808080;
}

.post-place {
  padding: 0 10px 0 10px;
  font-size: 13px;
  font-weight: 700;
  color: #666;
}

.post-like {
  margin-left: 10px;
}


.post-area {
  margin-top: 100px;
  margin-bottom: 120px;
  background: #f7f7f7;
  min-height: 500px;

}

.inner {
  max-width: 1020px;
  margin: 0 auto;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
}

.post-area-title {
  width: 100%;
  // background-color: blue;
  padding: 20px;
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kano Gothic ProN','ヒラギノ角ゴ ProN W3';
}

.post-box {
  border: solid #CCCCCC 3px;
  position: relative;
  width: 306px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 10px;
}

.background-image {
  width: 100%;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  border-radius: 4px;
}

.post-date {
  box-sizing: border-box;
  // position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  color: #666;
  font-size: 13px;
  // text-shadow: 0 0 2px #666;
  font-weight: 700;
}

.main-title {
  background-color: #FFFFDD;
  padding: 14px 10px;
  font-weight: 700;
  line-height: 1.5;
}

.post-place {
  padding: 0 10px 0 10px;
  font-size: 13px;
  font-weight: 700;
  color: #666;
}

.post-like {
  margin-left: 10px;
}

.user-name {
  margin-left: 10px;
  font-size: 15px;
  color: #666;
}

.user-name a {
  color: #666;
  font-weight: 700;
}

.label-box {
  top: 0;
  right: 0;
  position: absolute;
  border-top: 35px solid #FA8072;
  border-right: 35px solid #FA8072;
  border-bottom: 35px solid transparent;
  border-left: 35px solid transparent;
  border-radius: 4px 0;
}

.label-name {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 6px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// <-----------user-edit----------->
.user-edit {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  background-color: #f8f8f8;
  margin-bottom: 120px;
}

.user-edit-main {
  margin-top: 50px;
}

.user-edit-title {
  padding-top: 50px;
  font-size: 30px;
}

.user-edit-image label {
  margin-top: 30px;
}

.user-edit-main input {
  margin-bottom: 15px;
}

.field {
  margin-top: 15px;
}

.back-button {
  margin-left: 200px;
}

// <-----------user-quit----------->
.user-quit {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quit-title {
  padding-top: 50px;
}

.quit-body {
  margin-top: 50px;
}

.quit-button {
  margin-left: 100px;
}

.quit-buttons {
  margin-top: 50px;
}

// <-----------user-follows----------->
.follows {
  background: #f7f7f7;
  // min-height: 500px;
  margin-bottom: 150px;
}

.follow-title {
  text-align: center;
  margin-top: 10px;
}

.follow-inner {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


.follow-area-s {
  min-height: auto;
  background: #f5f5f5;
  padding: 10px;
}

.follow-area-s ul {
  list-style: none;
}

.follow-area-s ul li {
  border-bottom: 1px #f5f5f5 solid;
}

.follow-user {
  box-sizing: border-box;
  display: block;
  background: #fff;
}

.follow-user-image {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}

.follow-user-name {
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  text-align: left;
  padding-right: 10px;
}

.follow-user-introduction {
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  text-align: left;
  padding-right: 10px;
}